{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>パスワード再設定</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

<div class="login-wrapper">
    <h2>パスワード再設定</h2>

    {% if error %}
        <p class="error-message">{{ error }}</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <label>登録メールアドレス</label>
        <input type="text" name="email">

        <button type="submit">次へ</button>
    </form>
</div>

</body>
</html>