{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新しいパスワード</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

<div class="login-wrapper">
    <h2>新しいパスワード</h2>

    <form method="post">
        {% csrf_token %}
        <label>新しいパスワード</label>
        <input type="password" name="password">

        <button type="submit">変更する</button>
    </form>
</div>

</body>
</html>