

<!DOCTYPE html>
<html lang="ja">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <meta property="og:title" content="性癖コミュニティ - 新しいつながりを見つけよう">
    <meta property="og:description" content="価値観でつながる安心コミュニティ。匿名で気軽に話せる場所。">
    <meta property="og:image" content="https://seiheki-commu-1.onrender.com/static/OGP.png">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="website">

    {% block extra_css %}{% endblock %}
</head>
<body>

    <div class="page-content">
        {% block content %}
        {% endblock %}
    </div>

    <nav class="bottom-nav">
        <a href="{% url 'room_list' %}"
        class="nav-item {% if request.path == '/community/rooms/' %}active{% endif %}">
            <span class="icon">🏠</span>
            <span class="label">ホーム</span>
        </a>

        <a href="{% url 'dm_list' %}"
        class="nav-item {% if request.path == '/dm/' %}active{% endif %}">
            <span class="icon">💬</span>
            <span class="label">DM</span>
        </a>

        <a href="{% url 'profile' request.user.id %}"
        class="nav-item {% if '/accounts/profile/' in request.path %}active{% endif %}">
            <span class="icon">👤</span>
            <span class="label">プロフィール</span>
        </a>
    </nav>

</body>
</html>